* {
    font-family: 'Onest', sans-serif;
    letter-spacing: 1px;
    word-spacing: 1px;
}

:root {
    --cor-roxo: #A452F6;
    --cor-branco: #fff;
    --cor-preto: #000;
    --cor-vermelho: red;
}

.container1{
    width: 100%;
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.navbar-toggler {
    box-shadow: none !important;
    border-color: var(--cor-roxo);
}

.navbar-brand,
.navbar-brand:hover,
.nav-link {
    font-size: 22px;
    color: var(--cor-roxo);
}


.navbar a :hover {
    color: var(--cor-roxo);
}

.icon{
    font-size: large;
    font-size: 2rem;
}

.bi {
    color: var(--cor-roxo);
}

.bi-rc {
    color: var(--cor-vermelho);
}

.btn1 {
    padding: 0.5rem 1rem;
    font-weight: 600;
    transition: .3s;
    font-size: 1.25rem;
    color: var(--cor-roxo);
    border-color: var(--cor-roxo);
}



.rCup {
    width: 20rem;
    display: block;
}


.img_robocup {
    width: 60%;
    height: 160px;
}

.bg-gradiente {
    background-image: linear-gradient(0deg,
            hsl(0, 0%, 0%) 0%,
            hsl(283, 47%, 6%) 13%,
            hsl(289, 35%, 22%) 26%,
            hsl(285, 47%, 15%) 39%,
            hsla(273, 65%, 42%, 0) 52%,
            hsl(0, 0%, 0%) 65%,
            hsl(0, 0%, 0%) 77%,
            hsla(293, 37%, 27%, 0.274) 89%,
            hsla(0, 0%, 0%, 0.425) 100%);
}

img {
    max-width: 100%;
}



.gallery{
    margin-bottom: 35px;
}

.gallery img {
    background-color: #cb01f3;
    padding: 2px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.carousel-item img {

    height: 700px;

}

.car1 {
    width: 80%;

}
.car2{
    width: 70vmin;
}


.img-logo1 {
    width:13rem;
}



.card img {

    height: 300px;


}


.background-img1 {
    background-image: url(../background/img-fundo.jpg);

}

.background-img2 {
    background-image: url(../background/img-fundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

.background-img3 {
    background-image: url(../background/img-fundo5.jpg);
}


@media screen and (max-width: 991px){
   
    .container1{
        align-items: center;
        text-align: center;
        
    }

    .contato{
        align-items: center;
        text-align: center;
        
    }

   
    figure{
        display: none;
}

}

.card {
    box-shadow: 1px 1px 25px;
    border-radius: 10px;
    transition: .4s;
    background-color: transparent;
}

.card:hover {
    transform: scale(1.03);
}

.texto1 {
    font-size: 3vh;
}

.corRoxa{
    color: #A452F6;
}

.btn:hover {
    border: 1px solid var(--cor-branco);
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    
}

.imgMaior {
    width: 90%;
}